DEBUG=

# Server
HOST=0.0.0.0
PORT=8080
# base64 encoded 32 bytes key (44 bytes)
TOKEN_SECRET=c3VwZXJzZWNyZXRrZXltdXN0YmUzMmJ5dGVzbG9uZyEK

# PostgreSQL
POSTGRES_HOST=localhost
POSTGRES_PORT=5432
POSTGRES_USER=postgres
POSTGRES_PASSWORD=postgres
POSTGRES_DB=app
POSTGRES_SSLMODE=disable

# Google OAuth
GOOGLE_ACCESS_KEY_ID=
GOOGLE_SECRET_ACCESS_KEY=
GOOGLE_CALLBACK_URL=
